#header { 
    background: linear-gradient(95deg, #1B5E20, #4CAF50) !important; 
} 
#branding h1 a { color: white !important; } 
.module h2 { background: #2E7D32 !important; color: white !important; } 
.button, input[type=submit] { background-color: #4CAF50 !important; } 
a:link { color: #2E7D32 !important; } 
